# Visual Studio specific files
.vs/
*.vscode/
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Nn][Yy]/
*.exe
*.pdb
*.dll
*.apk
*.ap_
*.iobj
*.idb
*.pch
*.obj
*.lib
*.sbr
*.sdf
*.ilk
*.mdf
*.ldf
*.bak
*.cache
*.log
*.zip
*.iso
*.7z
*.nuget/
*.nupkg/
*.pfx
*.publishsettings
*.xml

# Unity specific
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/Assets/AssetStoreTools*

# Rider specific
.idea/
*.sln.iml
