<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_GreengroceryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49676/GreengroceryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GreengroceryService"
                contract="GreengroceryService.GreengroceryService" name="BasicHttpBinding_GreengroceryService" />
        </client>
    </system.serviceModel>
</configuration>